<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="../../../../assets/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="Restaurantly">
        Restaurantly
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/trending" routerLinkActive="active">Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/bars" routerLinkActive="active">Bars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/pubs" routerLinkActive="active">Pubs</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/coffee" routerLinkActive="active">Coffee</a>
            </li>
        </ul>
    </div>
</nav>